<section class="form-section">
  <div class="container form-conatainer">
    <form class="form">
      <label class="platform-one-label">Платформа 1:</label>
      <ul class="form-list">
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image mexc-image" src="../img/mexc-icon.png" width="17">
            MEXC
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image lbank-image" src="../img/lbank-icon.png" width="12">
              LBANK
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image bybit-image" src="../img/bybit-icon.png" width="12">
              BYBIT
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image kucoin-image" src="../img/kucoin-icon.png" width="12">
              KUCOIN
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image ourbit-image" src="../img/ourbit-icon.png" width="12">
              OURBIT
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image bitunix-image" src="../img/bitunix-icon.png" width="12">
              BITUNIX
          </button>
        </li>
      </ul>
      <label class="platform-two-label">Платформа 2:</label>
      <ul class="form-list">
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image mexc-image" src="../img/mexc-icon.png" width="17">
            MEXC
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image lbank-image" src="../img/lbank-icon.png" width="12">
              LBANK
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image bybit-image" src="../img/bybit-icon.png" width="12">
              BYBIT
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image kucoin-image" src="../img/kucoin-icon.png" width="12">
              KUCOIN
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image ourbit-image" src="../img/ourbit-icon.png" width="12">
              OURBIT
          </button>
        </li>
        <li class="form-list-item">
          <button class="form-list-item-button" type="button">
            <img class="form-button-image bitunix-image" src="../img/bitunix-icon.png" width="12">
              BITUNIX
          </button>
        </li>
      </ul>
      <label class="form-trade-type-label">Вид торговли:</label>
      <ul class="form-trade-list">
        <li class="form-trade-item"><button class="trade-item-button spot-button" type="button">Spot</button></li>
        <li class="form-trade-item"><button class="trade-item-button futures-button" type="button">Futures</button></li>
      </ul>
      <label class="tiker-label">Тикер:</label>
      <input class="ticker-input" type="name" placeholder="Введите тикер, например BTCUSDT">
      <label class="quantity-label">Количество:</label>
      <input class="quantity-input" type="number" placeholder="Введите количество">
      <label class="spread-label">Порог входа:</label>
      <input class="spread-input" type="name" placeholder="Введите порог входа, например 2% ">
      <button type="submit" class="form-start-button">Запустить</button>
    </form>
  </div>
</section>
